// ------ font ------ //
// font-family
.font-en-serif {
  font-family: $font-en-serif;
}

.font-en-sans {
  font-family: $font-en-sans;
}

.font-en-hand {
  font-family: $font-en-hand;
}

.font-ch-serif {
  font-family: $font-ch-serif;
}

.font-ch-sans {
  font-family: $font-ch-sans;
}

// font-weight
.fw-extraBold {
  font-weight: $font-weight-extraBold;
}

// font-size
@include media-breakpoint-up(xl) {
  .fs-xl-h1 {
    font-size: $h1-font-size !important;
  }

  .fs-xl-h2 {
    font-size: $h2-font-size !important;
  }

  .fs-xl-h3 {
    font-size: $h3-font-size !important;
  }

  .fs-xl-h4 {
    font-size: $h4-font-size !important;
  }

  .fs-xl-h5 {
    font-size: $h5-font-size !important;
  }

  .fs-xl-h6 {
    font-size: $h6-font-size !important;
  }

  .fs-xl-1 {
    font-size: $n1-font-size !important;
  }

  .fs-xl-2 {
    font-size: $n2-font-size !important;
  }

  .fs-xl-3 {
    font-size: $n3-font-size !important;
  }

  .fs-xl-4 {
    font-size: $n4-font-size !important;
  }
}

// ------ shadow ------ //
.textShadow-lg-dark {
  @include media-breakpoint-up(lg) {
    text-shadow: 5px 5px 12px $customBlue-900;
  }
}

.boxShadow-solid-primary {
  box-shadow: 4px 6px 0px 0px $primary;
}

// ------ background ------ //
.bg-noise {
  &-dark {
    background-image: url(../images/background/bg-noise-dark.png);
  }

  &-light {
    background-image: url(../images/background/bg-noise-light.png);
  }

  &-secondary {
    background-image: url(../images/background/bg-noise-secondary.png);
  }
}

.bg-gray-blur {
  background-color: rgba($white, 0.1);
  backdrop-filter: blur(4px);
}

.bg-lg-transparent {
  @include media-breakpoint-up(lg) {
    background-color: transparent;
    backdrop-filter: none;
  }
}

// ------ width, height ------ //
.w-fit {
  width: fit-content;
}

.w-150 {
  width: 150%;
}

.w-95 {
  width: 95%;
}

.w-90 {
  width: 90%;
}

.w-80 {
  width: 80%;
}

.w-60 {
  width: 60%;
}

.h-100vh {
  min-height: 100vh;
}

.h-80vh {
  min-height: 80vh;
}

.h-70vh {
  min-height: 70vh;
}

.h-20 {
  height: 20%;
}

.ratio {
  &-contain {
    object-fit: contain;
  }

  &-cover {
    object-fit: cover;
  }
}

.h-lg-auto {
  @include media-breakpoint-up(xl) {
    height: auto;
  }
}

.object-fit-cover {
  object-fit: cover;
}

// ------ position ------ //
.fixed-middle {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.position-right-0 {
  right: 0;
}

.start-30 {
  left: 30%;
}

.z-index-5 {
  z-index: 5;
}

.z-index-10 {
  z-index: 10;
}

.z-index-max {
  z-index: 5000;
}

.position-y-0 {
  left: 0;
  right: 0;
}

.top-20 {
  top: 20%;
}

.top-40 {
  top: 40%;
}

.top-60 {
  top: 60%;
}

.top-80 {
  top: 80%;
}

// ------ grid ------ //
.inlineGrid-center {
  display: inline-grid;
  justify-items: center;
  align-items: center;
}

.inlineGrid-end-center {
  display: inline-grid;
  justify-items: end;
  align-items: center;
}

.inlineGrid-top-right {
  display: inline-grid;
  justify-items: right;
  align-items: start;
}

// ------ blend ------ //
.blend-colorBurn {
  mix-blend-mode: color-burn;
}

// ------ border-radius ----- //
.rounded-6 {
  border-radius: $spacer * 6;
}

// ------ transform ------ //
.translateY-25 {
  transform: translateY(25%);
}

.translateY-50 {
  transform: translateY(50%);
}

.translateY-reduce-30 {
  transform: translateY(-30%);
}

// ------ shadow ------ //
.text-shadow-dark {
  text-shadow: 5px 5px 12px $shadowColor-weight;
}

// ------ ellipse ------ //
.circle-25 {
  @include circle(1.5vw);
}

.circle-10 {
  @include circle(0.5vw);
}

// ------ transition ------ //
.transition-all {
  transition: all ease 0.5s;
}
