// ------ font ------ //
// font-family
.font-en-serif {
  font-family: $font-en-serif;
}

.font-en-sans {
  font-family: $font-en-sans;
}

.font-en-hand {
  font-family: $font-en-hand;
}

.font-ch-serif {
  font-family: $font-ch-serif;
}

.font-ch-sans {
  font-family: $font-ch-sans;
}

// font-weight
.fw-extraBold {
  font-weight: $font-weight-extraBold;
}

// font-size
@include media-breakpoint-up(xxl) {
  .fs-xl-h1 {
    font-size: $h1-font-size !important;
  }

  .fs-xl-h2 {
    font-size: $h2-font-size !important;
  }

  .fs-xl-h3 {
    font-size: $h3-font-size !important;
  }

  .fs-xl-h4 {
    font-size: $h4-font-size !important;
  }

  .fs-xl-h5 {
    font-size: $h5-font-size !important;
  }

  .fs-xl-h6 {
    font-size: $h6-font-size !important;
  }

  .fs-xl-1 {
    font-size: $n1-font-size !important;
  }

  .fs-xl-2 {
    font-size: $n2-font-size !important;
  }

  .fs-xl-3 {
    font-size: $n3-font-size !important;
  }

  .fs-xl-4 {
    font-size: $n4-font-size !important;
  }
}

// ------ shadow ------ //
.textShadow-dark {
  text-shadow: 5px 5px 12px $customBlue-900;
}

.boxShadow-solid-primary {
  box-shadow: 4px 6px 0px 0px $primary;
}

// ------ background ------ //
.bg-noise {
  &-dark {
    background-image: url(../images/background/bg-noise-dark.png);
  }

  &-light {
    background-image: url(../images/background/bg-noise-light.png);
  }

  &-secondary {
    background-image: url(../images/background/bg-noise-secondary.png);
  }
}

// ------ width, height ------ //
.w-fit {
  width: fit-content;
}

.h-100vh {
  min-height: 100vh;
}

.h-20 {
  height: 20%;
}

// ------ position ------ //
.fixed-middle {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.porisiton-right-0 {
  right: 0;
}

// ------ blend ------
.blend-colorBurn {
  mix-blend-mode: color-burn;
}

// ------ border-radius -----
.rounded-6 {
  border-radius: $spacer * 6;
}

// ------ transform ------
.translateY-25 {
  transform: translateY(25%);
}

.translateY-50 {
  transform: translateY(50%);
}

.translateY-reduce-30 {
  transform: translateY(-30%);
}
