<footer class="bg-secondary-900 text-white py-8">
  <div class="container d-flex justify-content-between align-items-center">
    <div>
      <a class="link-light" href="index.html">
        <h2 class="fs-h5 fw-extraBold font-en-serif">Polaris</h2>
        <p class="fs-4 fw-light mb-0">前端學習地圖</p>
      </a>
    </div>
    <div class="fs-4 text-end">
      <a class="d-inline-block mb-2" href="mailto: polaris.map.1618@gmail.com">
        polaris.map.1618@gmail.com
      </a>
      <p class="mb-0">資料、圖片來源皆來自網路資源，僅用來做為學習用途，<a class="link-light" href="#">參考來源點此</a></p>
    </div>
  </div>
</footer>