.title-sm,
.title-lg {
  h2 {
    padding: 0 $spacer * 2;
    position: relative;
    z-index: 1;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -20%;
      z-index: -1;
      width: 100%;
      height: 65%;
      border-radius: $spacer * 10;
    }

    @include media-breakpoint-up(lg) {
      padding: 0 $spacer * 4;
    }
  }
}

.title-sm {
  img {
    width: 60px;

    @include media-breakpoint-up(lg) {
      width: 80px;
    }
  }

  &-light {
    h2::after {
      background-color: $primary;
      opacity: 0.2;
    }
  }

  &-dark {
    h2::after {
      background-color: $primary;
      opacity: 0.6;
    }
  }
}

.title-lg {
  &-solid,
  &-outline {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 70px;
      height: 40px;
      right: 110%;
      @include media-breakpoint-up(md) {
        width: 137px;
        height: 77px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 105px;
      height: 40px;
      left: 110%;
      @include media-breakpoint-up(md) {
        width: 178px;
        height: 63px;
      }
    }
  }

  &-solid {
    &::before {
      background: url(/polaris/assets/images/icon/title-lg-solid-left.svg) center no-repeat;
      background-size: cover;
    }

    &::after {
      background: url(/polaris/assets/images/icon/title-lg-solid-right.svg) center no-repeat;
      background-size: cover;
    }

    h2::after {
      background-color: $primary;
      opacity: 0.6;
    }
  }

  &-outline {
    &::before {
      background: url(/polaris/assets/images/icon/title-lg-outline-left.svg) center no-repeat;
      background-size: cover;
    }

    &::after {
      background: url(/polaris/assets/images/icon/title-lg-outline-right.svg) center no-repeat;
      background-size: cover;
    }

    h2 {
      text-shadow:
        -1px -1px 0 $gray-900,
        1px -1px 0 $gray-900,
        -1px 1px 0 $gray-900,
        1px 1px 0 $gray-900;
      &::after {
        background-color: $danger-500;
        opacity: 0.6;
      }
    }
  }
}
