<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
</head>

<body>
  <%- include('./layout/navbar'); -%>
    <%- include('./component/progressbar'); -%>
      <header id="start"
        class="index-header h-100vh position-relative d-flex flex-column align-items-center justify-content-center">
        <div class="index-header-content text-white text-center text-shadow-dark">
          <h2 class="fs-h3 font-en-serif fw-extraBold">Polaris</h2>
          <p class="fs-1 lh-lg">
            想成為工程師，該從何開始？<br>
            有順序可以遵循嗎？半路迷失方向？
          </p>
        </div>
        <div class="index-header-radial position-absolute"></div>
      </header>
      <section id="info-01"
        class="index-info h-100vh bg-noise-dark py-10 d-flex justify-content-center align-items-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-10 title-sm title-sm-light d-flex align-items-center mb-6 mb-xl-10">
              <img class="me-4" src="../assets/images/icon/title-sm-light.svg" alt="title decoration">
              <h2 class="fs-h6 fs-xl-h5 text-white">Roadmap 有些什麼？</h2>
            </div>
          </div>
          <div class="row justify-content-center align-items-center">
            <ul class="index-steps list-unstyled col-1 fs-5 fs-xl-1 mb-0">
              <li><a class="index-steps-number active" href="#info-01">1</a></li>
              <li class="index-steps-line"></li>
              <li><a class="index-steps-number" href="#info-02">2</a></li>
              <li class="index-steps-line"></li>
              <li><a class="index-steps-number" href="#info-03">3</a></li>
            </ul>
            <img class="col-6" src="../assets/images/index/index-info-01.svg" alt="羅列五大主題">
            <div class="col-3 text-white d-flex flex-column align-items-center">
              <h3 class="fs-h3 fs-xl-h2 lh-1 text-center mb-8">
                <span class="font-en-hand d-inline-block">Point</span>
                <br>
                <span class="font-en-sans">01</span>
              </h3>
              <h4 class="fs-2 fs-xl-1 text-center w-fit pb-1 mb-8 mb-lx-12 border-bottom border-primary border-2">
                羅列五大主題</h4>
              <p class="fs-2 fs-xl-3 fw-light mb-0">
                依序統整五大主題，在地圖上查看主題與子項目，選定後可直接進入指定頁面，讓你不會迷失在茫茫頁面中。
              </p>
            </div>
          </div>
        </div>
      </section>
      <section id="info-02"
        class="index-info h-100vh bg-noise-dark py-10 d-flex justify-content-center align-items-center">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <ul class="index-steps list-unstyled col-1 fs-1 fs-xl-1 mb-0">
              <li><a class="index-steps-number active" href="#info-01">1</a></li>
              <li class="index-steps-line active"></li>
              <li><a class="index-steps-number active" href="#info-02">2</a></li>
              <li class="index-steps-line"></li>
              <li><a class="index-steps-number" href="#info-03">3</a></li>
            </ul>
            <img class="col-6" src="../assets/images/index/index-info-02.svg" alt="如影隨形伴隨你">
            <div class="col-3 text-white d-flex flex-column align-items-center">
              <h3 class="fs-h3 fs-xl-h2 lh-1 text-center mb-8">
                <span class="font-en-hand d-inline-block">Point</span>
                <br>
                <span class="font-en-sans">02</span>
              </h3>
              <h4 class="fs-2 fs-xl-1 text-center w-fit pb-1 mb-8 mb-lx-12 border-bottom border-primary border-2">
                如影隨形伴隨你</h4>
              <p class="fs-4 fs-xl-3 fw-light mb-0">
                地圖按鈕將會常駐於導覽列，默默的守護不打擾你的旅程，當你需要時絕對不會找不他。
              </p>
            </div>
          </div>
        </div>
      </section>
      <section id="info-03"
        class="index-info h-100vh bg-noise-dark py-10 d-flex justify-content-center align-items-center">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <ul class="index-steps list-unstyled col-1 fs-2 fs-xl-1 mb-0">
              <li><a class="index-steps-number active" href="#info-01">1</a></li>
              <li class="index-steps-line active"></li>
              <li><a class="index-steps-number active" href="#info-02">2</a></li>
              <li class="index-steps-line active"></li>
              <li><a class="index-steps-number active" href="#info-03">3</a></li>
            </ul>
            <img class="col-6" src="../assets/images/index/index-info-03.svg" alt="釋放腦中記憶體">
            <div class="col-3 text-white d-flex flex-column align-items-center">
              <h3 class="fs-h3 fs-xl-h2 lh-1 text-center mb-8">
                <span class="font-en-hand d-inline-block">Point</span>
                <br>
                <span class="font-en-sans">03</span>
              </h3>
              <h4 class="fs-2 fs-xl-1 text-center w-fit pb-1 mb-8 mb-lx-12 border-bottom border-primary border-2">
                釋放腦中記憶體</h4>
              <p class="fs-4 fs-xl-3 fw-light mb-0">
                讓我們幫你記下你的學習旅程！可在學習過的上勾選完成，紀錄學習進度，一目了然且不必額外紀錄學習位置。
              </p>
            </div>
          </div>
        </div>
      </section>
      <div class="bg-noise-light">
        <section id="theme" class="index-theme container py-40">
          <div class="row align-items-center">
            <div class="col-6">
              <div class="title-sm title-sm-dark d-flex align-items-center mb-6 mb-xl-10">
                <img class="me-4" src="../assets/images/icon/title-sm-dark.svg" alt="title decoration">
                <h2 class="fs-h6 fs-xl-h5 text-secondary fw-bold">Roadmap 五大主題</h2>
              </div>
              <ul class="index-theme-list list-unstyled row justify-content-center font-en-serif fs-h6">
                <li class="col-4 mb-6"><a class="active" href="#">HTML</a></li>
                <li class="col-4 mb-6"><a href="#">CSS</a></li>
                <li class="col-4 mb-6"><a href="#">JavaScript</a></li>
                <li class="col-4"><a href="#">工具與套件</a></li>
                <li class="col-4"><a href="#">軟實力</a></li>
              </ul>
            </div>
            <div class="col-6">
              <div class="row flex-nowrap align-items-end position-relative">
                <div class="col-6 position-relative index-theme-item-content d-flex flex-column align-items-end">
                  <h3 class="font-en-sans text-gray-700 text-end blend-colorBurn">HTML</h3>
                  <p class="bg-white fw-light px-6 pt-6 pb-8 mb-0 rounded-6">
                    製作網頁首先要了解的起始點！HTML 的功用是定義頁面的結構，就像人體中的骨頭，需要骨頭連結支撐，才能夠搭起肌肉與皮膚。
                  </p>
                  <a class="index-theme-item-button button fs-2 py-2 px-8 position-absolute bottom-0 left-0 translateY-25"
                    href="#">
                    前往了解
                    <span class="material-icons-outlined">
                      arrow_outward
                    </span>
                  </a>
                </div>
                <div class="col-8">
                  <img class="index-theme-item-character position-absolute"
                    src="../assets/images/index/index-theme-html-character.svg" alt="HTML 主題人物">
                  <img class="img-fluid" src="../assets/images/index/index-theme-html-bg.png" alt="HTML 主題背景">
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="index-scrollText overflow-hidden fs-h3 font-en-sans fw-medium ">
          <p class="index-scrollText-item text-secondary-300 text-nowrap mb-0">
            RoadMap of Five Themes &nbsp;&nbsp; RoadMap of Five Themes &nbsp;&nbsp; RoadMap of Five Themes
          </p>
          <p class="index-scrollText-item text-secondary text-nowrap mb-0">
            Frontend RoadMap &nbsp;&nbsp; Frontend RoadMap &nbsp;&nbsp; Frontend RoadMap
          <p>
          <p class="index-scrollText-item text-primary text-nowrap mb-0">
            Polaris with you &nbsp;&nbsp; Polaris with you &nbsp;&nbsp; Polaris with you &nbsp;&nbsp; Polaris with you
            &nbsp;&nbsp; Polaris with you
          <p>
        </section>
        <section id="tool" class="index-tool container py-40 d-flex flex-column align-items-center">
          <div class="title-lg title-lg-solid mb-10 w-fit">
            <h2 class="fs-h4 fw-bold text-secondary">工具箱</h2>
          </div>
          <div class="row justify-content-center">
            <p class="col-8 fs-2 fw-light text-center mb-16">
              讓線上工具成為你學習、創造與成長的助力。無論你是初學者抑或已具經驗，這裡收集許多我們覺得好用的工具，正等你探索選用。透過工具加速開發效能，讓你事倍功半！
            </p>
          </div>
          <div class="index-tool-imgs-top row justify-content-center">
            <div class="col-10">
              <div class="row justify-content-between align-items-center">
                <div class="col-5">
                  <img class="img-fluid rounded-4 shadow " src="../assets/images/index/index-tool-statcounter.png"
                    alt="statcounter">
                </div>
                <div class="col-4">
                  <img class="img-fluid rounded-4 shadow " src="../assets/images/index/index-tool-webCollect.png"
                    alt="webCollect">
                </div>
              </div>
            </div>
          </div>
          <div class="index-tool-imgs-center row justify-content-center">
            <div class="col-10">
              <img class="img-fluid rounded-4 boxShadow-solid-primary border border-4 border-primary shadow"
                src="../assets/images/index/index-tool-codepen.png" alt="codepen">
            </div>
          </div>
          <div class="index-tool-imgs-bottom row justify-content-center mb-6">
            <div class="col-9">
              <div class="row justify-content-between">
                <div class="col-4">
                  <img class="img-fluid rounded-4 shadow" src="../assets/images/index/index-tool-unsplash.png"
                    alt="unsplash">
                </div>
                <div class="col-5">
                  <img class="img-fluid rounded-4 shadow" src="../assets/images/index/index-tool-color.png" alt="color">
                </div>
              </div>
            </div>
          </div>
          <a class="button fs-1 py-4 px-8" href="#">
            前往工具箱
            <span class="material-icons-outlined">
              arrow_outward
            </span>
          </a>
        </section>
      </div>
      <section id="news" class="index-news bg-noise-secondary py-30">
        <div class="container d-flex flex-column align-items-center">
          <div class="title-lg title-lg-outline mb-10 w-fit mb-15">
            <h2 class="fs-h4 fw-bold text-white">最新消息</h2>
          </div>
          <div class="row justify-content-center">
            <ul class="text-gray-900 col-10 list-unstyled">
              <li class="row justify-content-center">
                <div class="col-6 pb-4">
                  <img class="img-fluid rounded-4" src="../assets/images/index/index-news-01.png" alt="延伸學習來囉，滿足你的求知慾！">
                </div>
                <div class="col-6 pb-4">
                  <time class="d-inline-block fs-4 mb-2">2023-09-10</time>
                  <h3 class="fs-h6 fw-medium mb-4">延伸學習來囉，滿足你的求知慾！</h3>
                  <p class="fw-light">
                    HTML
                    主題提供除了原有的項目「基本概念」、「組合運用」、「實作練習」、「學習資源」外，添加了「延伸學習」。提供給已經完成站內逐步學習的你繼續擴展學習，我們將羅列可延伸的熱門主題，撰寫簡介讓你了解是否有興趣，提供學習文章連結
                    <br><br>
                    有任何想法歡迎跟我們分享討論。
                  </p>
                </div>
              </li>
              <li
                class="d-flex align-items-center justify-content-between border-top border-bottom border-white py-8 px-4">
                <h3 class="fs-2 mb-0">HTML 主題開放囉！</h3>
                <time class="fs-2">2023-09-01</time>
              </li>
              <li class="d-flex align-items-center justify-content-between border-bottom border-white py-8 px-4">
                <h3 class="fs-2 mb-0">工具箱添加新類別，歡迎大家投稿</h3>
                <time class="fs-2">2023-08-20</time>
              </li>
              <li class="d-flex align-items-center justify-content-between border-bottom border-white py-8 px-4">
                <h3 class="fs-2 mb-0">各主題時程規劃</h3>
                <time class="fs-2">2023-08-15</time>
              </li>
              <li class="d-flex align-items-center justify-content-between border-bottom border-white py-8 px-4">
                <h3 class="fs-2 mb-0">Polaris 前端地圖網頁開張囉！</h3>
                <time class="fs-2">2023-08-10</time>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <%- include('./layout/footer'); -%>
        <script type="module" src="../main.js"></script>
</body>

</html>