<!-- three color mode: none dark black -->
<div class="procressbar d-none d-lg-flex fixed-middle position-right-0 me-8">
  <div class="procressbar-icon me-1 d-flex justify-content-end position-relative">
    <div class="procressbar-icon-img position-absolute"></div>
  </div>
  <div class="procressbar-timeline me-3 d-flex flex-column justify-content-between align-items-end">
    <div class="procressbar-timeline-long"></div>
    <div class="procressbar-timeline-short"></div>
    <div class="procressbar-timeline-short"></div>
    <div class="procressbar-timeline-short"></div>
    <div class="procressbar-timeline-short"></div>
    <div class="procressbar-timeline-long"></div>
    <div class="procressbar-timeline-short"></div>
    <div class="procressbar-timeline-short"></div>
    <div class="procressbar-timeline-short"></div>
    <div class="procressbar-timeline-short"></div>
    <div class="procressbar-timeline-long"></div>
    <div class="procressbar-timeline-short"></div>
    <div class="procressbar-timeline-short"></div>
    <div class="procressbar-timeline-short"></div>
    <div class="procressbar-timeline-short"></div>
    <div class="procressbar-timeline-long"></div>
    <div class="procressbar-timeline-short"></div>
    <div class="procressbar-timeline-short"></div>
    <div class="procressbar-timeline-short"></div>
    <div class="procressbar-timeline-short"></div>
    <div class="procressbar-timeline-long"></div>
    <div class="procressbar-timeline-short"></div>
    <div class="procressbar-timeline-short"></div>
    <div class="procressbar-timeline-short"></div>
    <div class="procressbar-timeline-short"></div>
    <div class="procressbar-timeline-long"></div>
  </div>
  <ul class="procressbar-title list-unstyled font-en-serif mb-0 d-flex flex-column justify-content-around">
    <li><a href="#start">Start</a></li>
    <li><a href="#info">Info</a></li>
    <li><a href="#theme">Theme</a></li>
    <li><a href="#tool">Tool</a></li>
    <li><a href="#news">News</a></li>
  </ul>
</div>