<div class="procressbar d-flex fixed-middle porisiton-right-0 me-12">
  <div class="me-1 d-flex justify-content-end">
    <img class="h-20" src="../assets/images/icon/progressbar-light.svg" alt="progressbar icon">
  </div>
  <div class="procressbar-timeline me-3"></div>
  <ul class="list-unstyled font-en-serif mb-0 d-flex flex-column justify-content-around">
    <li><a class="link-light" href="#start">Start</a></li>
    <li><a class="link-light" href="#info">Info</a></li>
    <li><a class="link-light" href="#theme">Theme</a></li>
    <li><a class="link-light" href="#tool">Tool</a></li>
    <li><a class="link-light" href="#mews">News</a></li>
  </ul>
</div>